
<div class="container">
    <div class="header-user">
      <img class="avatar-square" alt="avatar-square" src="https://kitt.lewagon.com/placeholder/users/krokrob" />
      <div class="users-info">
        <p><%= @user.name %></p>
        <p><%= @user.age %></p>
      </div>

    <div class="info-user">
      <div class="card-product">
        <p><strong>relevant info</strong></p>
      </div>
      <div class="card-product">
        <p><strong>relevant info</strong></p>
      </div>
      <div class="card-product">
        <p><strong>relevant info</strong></p>
      </div>
      <div class="card-product">
        <p><strong>relevant info</strong></p>
      </div>
    </div>
  </div>

  <div class="profile-page">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Lugares visitados</h2>
        </div>
        
      </div>
    </div>
  </div>
</div>
