<div class="container-services services">

  

  <h3 class="service-title">Nossos Serviços</h3>

    <div class="local">

      <div class="local-row">
        <%= image_tag "local.png", class: "local-img" %>
        <p class ="local-text">Aqui você acha a pessoa perfeita para te ajudar nos seua passeios. Esse guia é natural da cidade que você deseja e tem tudo para te mostrar as melhores experiências de sua cidade.</p>
      </div>

      <div class="local-row">
        <%= image_tag "tips.png", class: "trip-img" %>
        <p class ="local-text">No nosso site você também encontra dicas de passeios maravilhosos que podem ser feitos. Como, restaurantes, trilas, baladas, parques e outras atrações locais incríveis.</p>
      </div>

      <div class="local-row">
        <%= image_tag "find.png", class: "find" %>
        <p class ="local-text">Faça sua pesquisa e planeje da melhor forma sua viagem dos sonhos.</p>
        </div>
      </div>

    </div>

</div>
