.link-animado:hover {
  animation: animacao-link 0.25s ease-in-out infinite alternate;
}

@keyframes animacao-link {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px); /* Pode ajustar o valor conforme necessário */
  }
}

.container-places {
  overflow-x: hidden;
}

.container-places h1 {
  margin-top: 120px;
  text-align: center;
  color: #1A65B8;
}

.terra {
  width: 260px;
  margin-bottom: 60px;
}

.places-countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-size: 30px;
}

.places-countries h1 {
  color: #1A65B8;
  margin: 120px 0;
}

.places-countries a {
  color: #F4C300;
  text-decoration: none;
}

.places-countries a:active {
  color: #35875C;
}

.places-list {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  width: 90vw;
}

.btn-cities {
  background-color: #F76349;
  color: #fff;
  font-weight: 600;
  border: 1px solid #F76349;
  padding: 18px;
  text-decoration: none;
}

 a.btn-cities:hover {
  color: #Fff;
}

a.btn-cities:active {
  background-color: transparent;
  color: #F76349;
  border: 1px solid #F76349;
}

.butterfly-img {
  position: absolute;
  top: 65px;
  left: 24px;
  width: 150px;
}

.lugares {
  padding: 30px;
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-body .avatar-square {
  position: absolute;
  width: 68px;
  height: 68px;
  left: 276px;
  border-radius: 27px;
  top: 110px;
}

#lugares-title {
  margin-top: 183px;
  text-align: center;
}

#lugares-title span {
  color: #F76349;
  font-weight: bold;
}
