.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #1A65B8;
  color: #ffffff;
}

.footer-links {
  display: flex;
  gap: 1em;
}

.footer-links a {
  color: #ffffff;
}

.footer-copyright {
  margin-left: auto;
  padding: 0 1em;
}

.footer-copyright i {
  color: #b30404;
}
