.password-conntainer {
  padding: 95px 588px;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-conntainer h2 {
  color: #1A65B8;
  margin-bottom: 40px;
}

.password-conntainer .form-control {
  margin-bottom: 46px;
}

.password-conntainer .form-actions {
  margin-bottom: 40px;
  background-color: #F76349;
  /* color: #fff; */
  padding: 10px;
  margin-left: 22px;

}

.password-conntainer .form-actions input {
  color: #fff;
  font-weight: 600;
}

.passicon1 {
  width: 150px;
  position: absolute;
  top: 407px;
  right: 284px;
}

.passicon2 {
  width: 150px;
  position: absolute;
  top: 218px;
  right: 284px;
}
