<div class="container mt-5 mb-5">
  <div class="cards">
  <h1>Vai ser a pagina principal</h1>
    <h3>Estados</h3>
    <% @places.each_with_index do |place, index| %>
      <%=  link_to place_path(place) do %>
        <div>
          <ul><%= place.country %><br></ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
